<template>
  <div class="bar">
    <MarkdownImage @select="res => $emit('text', res)" />
    <MarkdownVideo @select="res => $emit('text', res)" />
    <MarkdownDescription @select="res => $emit('pretext', res)" />
    <MarkdownQuote @select="res => $emit('pretext', res)" />
    <MarkdownFootnote @select="res => $emit('pretext', res)" />
    <MarkdownLink @select="res => $emit('pretext', res)" />
    <MarkdownButton @select="res => $emit('pretext', res)" />
    <MarkdownFile @select="res => $emit('text', res)" />
    <MarkdownColumns @select="res => $emit('text', res)" />
    <MarkdownTable @select="res => $emit('pretext', res)" />
    <MarkdownRow @select="res => $emit('pretext', res)" />
  </div>
</template>

<style scoped>
.bar {
  display: flex;
  flex-wrap: wrap;
}
</style>

<script>
import MarkdownImage from './MarkdownImage.vue';
import MarkdownVideo from './MarkdownVideo.vue';
import MarkdownDescription from './MarkdownDescription.vue';
import MarkdownQuote from './MarkdownQuote.vue';
import MarkdownFootnote from './MarkdownFootnote.vue';
import MarkdownLink from './MarkdownLink.vue';
import MarkdownButton from './MarkdownButton.vue';
import MarkdownFile from './MarkdownFile.vue';
import MarkdownColumns from './MarkdownColumns.vue';
import MarkdownTable from './MarkdownTable.vue';
import MarkdownRow from './MarkdownRow.vue';

export default {
  components: {
    MarkdownImage,
    MarkdownVideo,
    MarkdownDescription,
    MarkdownQuote,
    MarkdownFootnote,
    MarkdownLink,
    MarkdownButton,
    MarkdownFile,
    MarkdownColumns,
    MarkdownTable,
    MarkdownRow,
  }
}
</script>