<template>
  <button class="button">
    <slot></slot>
  </button>
</template>

<style scoped>
.button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #999ea2;
  height: 36px;
  min-width: 64px;
  padding: 0 8px;
}
</style>
