<template>
  <div class="container">
    <h3 class="mb-40">Content</h3>
    <div class="editor">
      <Bar @text="handleText" @pretext="handlePretext" />
      <hr class="line" />
      <Textarea v-model="text" @selection="handleSelection" ref="textarea" />
    </div>
  </div>
</template>

<style scoped>
.container {
  max-width: 90%;
  margin: 1rem auto;
}

.editor {
  border: 1px solid #e0e2e3;
  border-radius: 3px;
  padding: 10px;
}

.line {
  margin: 9px 0 16px 0;
  border: none;
  height: 1px;
  background-color: #e0e2e3;
}

.textarea {
  width: 100%;
  height: 534px;
}

.mb-40 {
  margin-bottom: 40px;
}
</style>

<script>
import Bar from './Bar.vue';
import Textarea from './Textarea.vue';

export default {
  components: {
    Bar,
    Textarea
  },
  data: () => ({
    text: '',
    selectionStart: 0,
    selectionEnd: 0,
    textIsSelected: false
  }),
  methods: {
    handleSelection: function(selection) {
      this.selectionStart = selection.start;
      this.selectionEnd = selection.end;
      this.textIsSelected = selection.start !== selection.end;
    },
    handleText: function(t) {
      const part1 = this.text.substring(0, this.selectionEnd);
      const part2 = this.text.substring(this.selectionEnd);
      this.text = part1 + t + part2;
      const pos = part1.length + t.length;
      const ta = this.$refs.textarea;
      ta.handleCaret(pos);
    },
    handlePretext: function(pt) {
      const ptStart = pt.start ? pt.start : '';
      const ptEnd = pt.end ? pt.end : '';
      const ta = this.$refs.textarea;
      if (!this.textIsSelected) {
        const part1 = this.text.substring(0, this.selectionEnd);
        const part2 = this.text.substring(this.selectionEnd);
        this.text = part1 + ptStart + ptEnd + part2;
        const pos = part1.length + ptStart.length + ptEnd.length;
        ta.handleCaret(pos);
      } else {
        const part1 = this.text.substring(0, this.selectionStart);
        const selected = this.text.substring(this.selectionStart, this.selectionEnd);
        const part2 = this.text.substring(this.selectionEnd);
        this.text = part1 + ptStart + selected + ptEnd + part2;
        const pos = part1.length + ptStart.length + selected.length + ptEnd.length;
        ta.handleCaret(pos);
      }
    }
  }
}
</script>