<template>
  <Button @click.native="$emit('select', { start: '[link]', end: '[/link]'})">Link</Button>
</template>

<script>
import Button from './Button.vue';

export default {
  components: {
    Button
  }
}
</script>
