<template>
  <Button @click.native="$emit('select', { start: '[button]', end: '[/button]'})">Button</Button>
</template>

<script>
import Button from './Button.vue';

export default {
  components: {
    Button
  }
}
</script>
