<template>
  <Button @click.native="$emit('select', '[col-left]Content in the left column[/col-left][col-right]Content in the right column[/col-right]')">2 columns</Button>
</template>

<script>
import Button from './Button.vue';

export default {
  components: {
    Button
  }
}
</script>
