<template>
  <Button @click.native="$emit('select', { start: '[description]', end: '[/description]'})">Description</Button>
</template>

<script>
import Button from './Button.vue';

export default {
  components: {
    Button
  }
}
</script>
