<template>
  <Button @click.native="$emit('select', { start: '[quote]', end: '[/quote]'})">Quote</Button>
</template>

<script>
import Button from './Button.vue';

export default {
  components: {
    Button
  }
}
</script>
