<template>
  <Button @click.native="$emit('select', { start: '[footnote]', end: '[/footnote]'})">Footnote</Button>
</template>

<script>
import Button from './Button.vue';

export default {
  components: {
    Button
  }
}
</script>
