<template>
  <Button @click.native="$emit('select', { start: '[table]\n', end: '\n[/table]'})">Table</Button>
</template>

<script>
import Button from './Button.vue';

export default {
  components: {
    Button
  }
}
</script>
