<template>
  <Modal text="Video" preselect="Video" @saved='res => this.$emit("select", `[${res.type}="${res.file}"]`)' />
</template>

<script>
import Modal from './Modal.vue';

export default {
  components: {
    Modal,
  }
}
</script>