<template>
  <Button @click.native="$emit('select', { start: '[row]', end: '[/row]'})">Table row</Button>
</template>

<script>
import Button from './Button.vue';

export default {
  components: {
    Button
  }
}
</script>
