<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          depressed
          :ripple="false"
          class="button"
          v-bind="attrs"
          v-on="on"
        >
          {{text}}
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2 mb-3">
          Select file
        </v-card-title>

        <v-card-text>
          <v-form v-model="formIsValid">
            <v-select
              :items="selectItems"
              v-model="selected"
              label="Select..."
              outlined
              :rules="[(v) => !!v || 'Select is required']"
              required
              class="mb-3"
            ></v-select>

            <v-file-input
              truncate-length="15"
              v-model="fileInput"
              :rules="[(v) => !!v || 'File is required']"
              required
              @change="(f) => { file = f }"
            ></v-file-input>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
.button {
  color: #999ea2 !important;
  border: 0;
  box-shadow: none;
  background-color: transparent !important;
  text-transform: none !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  padding: 0 8px !important;
  letter-spacing: normal;
}
.button::before {
  background-color: transparent !important;
}
</style>

<script>
export default {
  props: {
    text: String,
    preselect: String,
  },
  data: () => ({
    dialog: false,
    formIsValid: false,
    selected: null,
    fileInput: null,
    file: null,
    selectItems: ["Image", "Video", "File"]
  }),
  mounted() {
    this.$nextTick(function() {
      this.selected = this.preselect
    });
  },
  watch: {
    formIsValid: function(val) {
      // Didn't get: what to do with this promise?
      const promise = new Promise((resolve, reject) => {
        if (val && this.file) {
          let type = "file";
          switch (this.selected) {
            case 'Image':
              type = 'img';
              break;
            case 'Video':
              type = 'video';
              break;
            case 'File':
              type = 'file';
              break;
          }
          setTimeout(() => {
            this.$emit("saved", { type, file: this.file.name })
            resolve(this.file);
            this.fileInput = null;
            this.dialog = false;
          }, 500);
        } else {
          reject('[Modal.vue] Form isn\'t valid');
        }
      });
      promise.then(console.log).catch(console.error);
    }
  },
}
</script>
