<template>
  <textarea
    :value="value" 
    @input="$emit('input', $event.target.value)"
    class="textarea"
    @keyup="$emit('selection', { start: $refs.textarea.selectionStart, end: $refs.textarea.selectionEnd })"
    @mouseup="$emit('selection', { start: $refs.textarea.selectionStart, end: $refs.textarea.selectionEnd })"
    ref="textarea"
  ></textarea>
</template>

<script>
export default {
  props: ['value'],
  methods: {
    handleCaret: function(pos) {
      const ta = this.$refs.textarea;
      setTimeout(() => {
        ta.focus();
        ta.setSelectionRange(pos, pos);
        this.$emit('selection', { start: pos, end: pos });
      }, 100);
    }
  }
}
</script>